body {
	background-color: #f6f6f6;
}
pre {
	padding: 0;
	border: none;
}
.badge {
	background-color: #009999;
	cursor: pointer;
	&:hover {
		background-color: #00caca;
	}
}
.btn-primary {
	background-color: #009999;
	border-color: #008888;
	&:hover, &:focus, &:active {
		background-color: #00caca;
		border-color: #00bbbb;
	}
}
.logo-m {
	width: 30px;
	height: 30px;
}
.cut {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.l-clearfix {
	zoom: 1;
    &:after {
    	content: ".";
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
        visibility: hidden;	
    }
}
._box {
    zoom:1;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(192,192,192,.35);
    background-color: #fff;
    &:after {
    	content: ".";
    	display: block;
    	clear: both;
    	height: 0;
    	overflow: hidden;
    	visibility: hidden;
    }
}
.card-index, .card-detail {
	&-article {
		padding: 30px;
		box-sizing: border-box;
		margin-bottom: 20px;
		.time {
			@extend .l-clearfix;
			.createdAt {
				float: right;
			}
			.updatedAt {
				float: left;
			}
		}
		.title {
			font-size: 28px;
		    line-height: 1.5;
		    color: #535353;
		    display: block;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    word-wrap: normal;
		}
		.desc {
			box-sizing: border-box;
		    padding: 10px 20px;
		    font-weight: 400;
		    background-color: #f6f6f6;
		    font-size: 16px;
		    line-height: 1.8;
		    color: #959595;
		}
		.content {
			font-size: 16px;
		    line-height: 1.5;
		    padding-left: 20px;
		    padding-right: 20px;
		}
		.badge:nth-child(1) {
			background-color: #3097D1;
			&:hover {
				background-color: #2db2ea;
			}
		}
		blockquote {
			border-left: 5px solid #2ab27b;
			padding-left: 20px;
			margin: 15px 0;
			color: #959595;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
.card-index {
	&-article {
		.content {
			max-height: 255px;
			overflow: hidden;
		}
		.readMore {
			padding-top: 20px;
		}
	}
}
.card-detail {
	&-article {
		.content {
			white-space: pre-wrap;
		}
	}
}
.card-aside {
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.editor-style blockquote,.simditor .simditor-body blockquote {
    border-left: 5px solid #2ab27b;
    padding-left: 20px;
    margin: 15px 0;
    color: #959595;
    padding-top: 0;
    padding-bottom: 0;
    p {
    	line-height: 1.5;
    	color: #959595;
    }
}